body, html {
    height: 100%;
    margin: 0;
}

#particles-js{
    background: #191923;
    height: 100vh;
    display: flex;
    align-items: center;
}

#header{
    position: absolute;
    width: 40%;
    height: 35%;
    min-width: 500px;
    max-width: 70%;
    left: 0;
    right: 0;
    margin:auto;
}

#logo{
    width: 50%;
    display: block;
    margin: 3em auto;
}

#codes{
    animation: letters 1s  steps(5) forwards, lineblink 1s step-end infinite;
    animation-delay: 3s, 2s;
    text-align: center;
    overflow: hidden;
    width: 0;
    border-right: 4px solid transparent;
    color: white;
    font-size: 5em;
    font-family: "Courier New";
    letter-spacing: 0.1em;
    display: block;
    margin: auto;
}

@keyframes letters {
    0% {width: 0%;}
    100% {width: 3.5em;}
}

@keyframes lineblink {
    0% {border-color: transparent}
    50% {border-color: white}
    100% {border-color: transparent}
}

#projects{
    background-color: aliceblue;
    padding: 3em 0;
}

#projects h1{
    text-align: center;
    margin: 1.5em 0em 2em 0em;
    font-size: 5em;
    font-family: "Century Gothic";
}

.project{
    position: relative;
    text-align: center;

    float: left;
    width: 33.33%;
    background-color: #255625;
    overflow: hidden;
}

.box .projectbg{
    transition: transform .5s, filter .5s;
 }

.projectbg{
    display: block;
    width: 100%;
    height: 35em;
    object-fit: cover;
    transition: transform .5s, filter .5s;
}

.box:hover .projectbg{
    transform: scale(1.1);
    filter: blur(5px);
    filter: saturate(.5);
    filter: brightness(.3);
}

.project:hover .textonimg{
    display: block;
}


.textonimg{
    display: none;
    position: absolute;
    left: auto;
    right: auto;
    top: 20px;
    padding: 4em;
    color: white;
    height: 33em;
    width: 100%;
}

.textonimg h2{
    text-align: center;
    margin-bottom: 1em;
    font-size: 3em;
    font-family: "Courier New";
}

.project-year{
    font-size: 1.5em;
}

.tools{
    position: absolute;
    bottom: 30px;
}

.tools p{
    padding: 5px 15px;
    margin-left: 1em;
    float: left;
    border-radius: 1em;
}

.java{
    background-color: #660000;
    color: #ff4d4d;
    border: 2px solid #ff4d4d;
}

.unity{
    background-color: #000066;
    color: #b3b3ff;
    border: 2px solid #b3b3ff;
}

.c_sharp{
    background-color: #133a13;
    color: #8bda8b;
    border: 2px solid #8bda8b;
}

.linkicon{
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.github{
    height: 4em;
    width: auto;
}

.itch{
    height: 3em;
    width: auto;
}

.linkicon {
    filter: brightness(200%);
}

.filler{
    position: relative;
    text-align: center;

    overflow: hidden;

    background-color: #122b40;
    height: 20em;
    float: left;
    width: 100%;
}

.filler img{
    display: block;
    width: 100%;
    height: 35em;
    object-fit: cover;
    transition: transform .5s, filter .5s;
}

.filler:hover .textonimg{
    display: block;
}


@media screen and (max-width: 1200px) {
    .project{
        width: 50%;
    }

    .filler{
        height: 35em;
        width: 50%;
    }

}

@media screen and (max-width: 800px) {
    .project{
        width: 100%;
    }

    .filler{
        height: 35em;
        width: 100%;
    }

}

#contact{
    background-color: #faebcc;
    display: inline-block;
    width: 100%;
    padding: 0 10% 5% 10%;
}

#contact h1{
    text-align: center;
    padding: 1em;
    font-size: 5em;
    font-family: "Century Gothic";
}

form{
    font-size: 1.2em;
}

#contact #namefield, #contact #mailfield{
    display: inline-block;
    width: 30em;
}
#namefield input, #mailfield input{
    width: 80%;
}

input[type=text] {
    box-sizing: border-box;
    padding: 5px 10px;
    margin: 5px 0 10px 0;
    border-radius: 10px;
    border: 2px solid gray;
}

textarea{
    box-sizing: border-box;
    padding: 5px 10px;
    margin: 5px 0 10px 0;
    border-radius: 10px;
    border: 2px solid gray;
    width: 100%;
    height: 150px;
    resize: none;
}

input[type="submit"]{
    background-color: #23527c;
    color: white;
    padding: 5px 10px;
    border: 2px solid gray;
    border-radius: 10px;
    margin-right: 15px;
}

input[type="reset"] {
    background-color: lightgray;
    padding: 5px 10px;
    border: 2px solid gray;
    border-radius: 10px;
}