body, html {
    background-color: #191923 !important;
    height: 100%;
    margin: 0;
    width: 100%;
}

#navbar{
    transition: 0.5s all;
    z-index: 2;
    position: fixed;
    padding: .7em 5em;
    right: 0;
    left: 0;
    top: 0;

}

#navbar img{
    transition: 0.5s all;
    opacity: 0;
    margin: 1em;
    height: 3em;
}

#navbar img.transparent{
    opacity: 1;
}

#navbar.transparent{
    background-color: #19192300;
    border-bottom: 1px solid #f5f5f500;
}

.nontransparent{
    background-color: #191923;
    border-bottom: 1px solid whitesmoke;
}

.navelement{
    margin: 1em;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    color: whitesmoke;
    float: right;
}

.navelement a{
    color: whitesmoke;
    text-decoration: none;
}

#particles-js{
    background: #191923;
    height: 60vh;
    display: flex;
    align-items: center;
}

#header{
    position: absolute;
    width: 40%;
    height: 20%;
    min-width: 500px;
    max-width: 70%;
    left: 0;
    right: 0;
    margin:auto auto;
}

#logo{
    margin: 1em auto;
    width: 40%;
    display: block;
}


@keyframes letters {
    0% {width: 0%;}
    100% {width: 3.5em;}
}

@keyframes lineblink {
    0% {border-color: transparent}
    50% {border-color: whitesmoke}
    100% {border-color: transparent}
}

.section{
    margin: 5%;
    border-top: 1px solid whitesmoke;
}

#projects{
    background-color: #191923;
    display: inline-block;
    padding-top: 3em;
}

#projects h1{
    width: 33.33333%;
    text-align: center;
    font-weight: normal;
    margin: 0.2em 0em;
    font-size: 4em;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
}

.project{
    position: relative;
    text-align: center;
    float: left;
    width: 33.333333%;
}

.project p{
    margin: -0.3em 0 .7em 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    color: whitesmoke;

}

.box{
    border: 1px solid whitesmoke;
    border-radius: 2em;
    margin: 45px;
    transition: transform .5s, filter .5s;
    overflow: hidden;
    height: 18vw;
    min-height: 10em;
}

.projectimg {
    position: relative;
    width: 101.9999%;
    min-height: 101%;

    margin: -1% -50.5%;

    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.box video{
    position: relative;
    width: 101.9999%;
    min-height: 101%;

    margin: -1% -50.5%;

}

.top:hover{
    opacity: 0;
}

.box:hover{
    transform: scale(1.2);
}


@media screen and (max-width: 1200px) {
    .project{
        width: 50%;
    }

    .filler{
        float: left;
        height: 35em;
        width: 50%;
    }

    .box{
        height: 25vw;
    }
}

@media screen and (max-width: 800px) {
    .project{
        width: 100%;
    }

    .filler{
        height: 35em;
        width: 100%;
    }

    .box{
        height: 50vw;
    }
}




#contact{
    padding-top: 3em;
    margin-top: -2%;
    background-color: #191923;
}

#contact h1{
    width: 33.33333%;
    text-align: center;
    font-weight: normal;
    margin: 0.2em 0em;
    font-size: 4em;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    white-space: nowrap;
}

#email{
    text-align: center;
    vertical-align: center;
}

#email a img{
    display: inline-block;
    width: 7rem;
    height: auto;
    margin: 1rem;
}

#email a img:hover{
    text-decoration: none;
    filter: brightness(.3);
}

#email a{
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    font-family: Arial;
    font-size: 2rem !important;
    color: black !important;
}

#email a:link{
    vertical-align: middle;
    color: black;
}

#email a:hover{
    text-decoration: underline;
}